.start {
    display: flex;
}

.navbar1 {
    background-color: rgb(39, 39, 54);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.navbar { 
    background-color: rgb(90, 101, 108);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.name {
    color: white;
    font-size: 30px;
}

.drop-down {
    display: none;
}

.appbar > button:hover ul {
    display: block;
    position: absolute;
    background-color: rgb(205, 210, 214);
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul :hover {
    background-color: antiquewhite;
}

.btn {
    width: 110px;
    height: 40px;
    font-size: 20px;
    border: 0ch;
    border-radius: 10px;
    margin-right: 10px;
}


.my_info {
    display: flex;
    text-align: end;
    background-color: rgb(111, 122, 131);
}

.my_info1 {
    width: 800px;
    height: 300px;
    /* background-color: blanchedalmond; */
    color: white;
    border-radius: 10px;
    align-items: center;
    margin-top: 120px;
    padding: 90px;
    display: flex;
    font-weight: bolder;
}

.me {
    border-radius: 360px;
}

table {
    margin: auto;
    text-align: justify;
    align-items: center;
    border-spacing: 10px;
    font-size: 30px;
}

table td {
    height: 20px;
}

/* .body {
   background-image: url('../images/bg1.png');
} */

* {
    padding: 0px;
    margin: 0px;
}